html {touch-action: auto;}

body {
	font-size: 2.72vw;
	font-family: "Avenir Next", "Gill Sans", sans-serif;
	background: url(https://watersb.org/img/me/vla-pano-bw.jpg) 0 0/100% auto no-repeat fixed #eee;
}

nav,footer {
	font-size: 1.8vw
}
footer, nav {
	font-family: "Avenir Next Condensed", "Gill Sans", sans-serif;
	font-stretch: condensed;
	color: #555
}

nav {
/* 	padding-top: 5vw */

}

nav a {
	display: block
}

h1,h2,h3,h4 {
	font-family: "American Typewriter", "Consolas", "Roboto Slab", monospace;
}

header {
	display: flex;
	justify-content: flex-end;
}
header h1 {
	margin-bottom: 0
}
header p {
	margin-top: 0
}
header div {
	width: 40vw;
	margin-right: 5vw;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #aaa;
}

header {
	text-align: right;
}
