html {touch-action: auto;}

body {
	font-size: 2.72vw;
	font-family: "Avenir Next", "Roboto", "Corbel", sans-serif;

	font-kerning: normal;
	font-variant-ligatures: common-ligatures, contextual;
	font-variant-numeric: oldstyle-nums, proportional-nums;
	font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";

	background: url(https://watersb.org/img/me/vla-pano-bw.jpg) 0 0/100% auto no-repeat fixed #eee;
}

nav,footer {
	font-size: 1.8vw;
	font-family: "Avenir Next Condensed", "Roboto Condensed", "Corbel";
	font-stretch: condensed;
	color: #555;
}


nav a {
	display: block;
	color: #777;
	text-decoration: none;
}

h1,h2,h3,h4 {
	font-family: "American Typewriter", "Tahoma", "Roboto Slab";
}

header {
	display: flex;
	flex-flow: row wrap;
	text-align: right;
	transition: width 0.7s ease-out;
}
header h1 {
	margin-bottom: 0;
}
header p {
	margin-top: 0;
}
header > div {
	flex-grow: 3;
	min-width: 280px;
	margin-right: 5vw;
}
header nav {
	flex-grow: 1;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 4vw;
		background-image: url(https://watersb.org/img/me/vla-pano-bw-480x160.jpg);
	}
	

 nav, footer {
		font-size: 3.3vw;
	}

	nav {
   display: flex;
	}
	
	nav a {
		flex: 1 0 33%;
		text-align: center;
	}

}


@media screen and (max-width: 320px) {
	body {
		font-size: 6vw;
		background-color: #e3e3e3;
		background-image: url(https://watersb.org/img/me/vla-pano-bw-480x640.jpg);
	}

	nav,footer {
		font-size: 5vw;
	}
	
}
